@font-face {
  font-family: "JetBrains Sans";
  src: url("/assets/fonts/JetBrainsSans-Regular.woff2") format("woff2"),
    url("/assets/fonts/JetBrainsSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
